<div class="hero-section">
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-md-start">
                <div class="label-div">
                    <span class="label">Desarrollado por: LAMAC</span>
                </div>
                <h1>La aplicación que conecta a <span>pequeños productores con operadores</span></h1>
                <p class="d-none d-md-block">
                    En un esfuerzo por promover la prosperidad económica a nivel local, hemos desarrollado 
                    una plataforma que conecta de manera eficiente a los pequeños productores con los compradores 
                    estatales.
                </p>
                <p class="d-block d-md-none">
                    Conectamos de manera eficiente a los pequeños productores con los compradores 
                    estatales.
                </p>
                <div class="row d-none d-md-block">
                    <div class="app-links">
                        <!-- Enlace a la App Store -->
                        <a href="https://apps.apple.com/app/id1234567890" target="_blank" class="app-link">
                            <img src="img/app_store_button.webp" alt="Descargar en la App Store">
                        </a>
                
                        <!-- Enlace a Google Play -->
                        <a href="https://play.google.com/store/apps/details?id=com.example.app" target="_blank" class="app-link">
                            <img src="img/google_play_button.webp" alt="Obtener en Google Play">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <img class="hero-img img-fluid" src="img/img_hero_section.webp" alt="">
            </div>
            <div class="row d-block d-md-none text-center">
                <div class="app-links">
                    <!-- Enlace a la App Store -->
                    <a href="https://apps.apple.com/app/id1234567890" target="_blank" class="app-link">
                        <img src="img/app_store_button.webp" alt="Descargar en la App Store">
                    </a>
            
                    <!-- Enlace a Google Play -->
                    <a href="https://play.google.com/store/apps/details?id=com.example.app" target="_blank" class="app-link">
                        <img src="img/google_play_button.webp" alt="Obtener en Google Play">
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>