<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-xxl">
      <a class="navbar-brand" href="index.html">
        <img src="img/eco_logo_nav.webp" alt="eco_populi_logo" width="154" height="35">
      </a>
      <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">Contexto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">Normativa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Plataform</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contactanos</a>
          </li>
        </ul>
        <a href="">
          <button class="btn btn-outline-secondary btn-sm" style="text-decoration: none;">Registrarme →</button>
        </a>
      </div>
    </div>
</nav>