<div class="normativity-section">
    <div class="container-xxl">
        <div class="sub-title text-center">
            <h7>COMPROMETIDOS EN EL CUMPLIMIENTO DE LA NORMATIVIDAD</h7>
        </div>
        <div class="row normativity-container">
            <div class="col-12 col-md-8 d-flex justify-content-left align-items-center">
                <div class="row">
                    <div class="row"> 
                        <div class="col-12">
                            <div>
                                <div class="row normativity-item">
                                    <div class="col-2 d-flex justify-content-center align-items-center">
                                        <img class="img-fluid" src="img/icon_item_normativity.webp">
                                    </div>
                                    <div class="col-10 d-flex justify-content-left align-items-center">
                                        <p><strong>Constitución Política</strong><br>Artículos 64, 65, 333 y 334</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12">
                            <div>
                                <div class="row normativity-item">
                                    <div class="col-2 d-flex justify-content-center align-items-center">
                                        <img class="img-fluid" src="img/icon_item_normativity.webp">
                                    </div>
                                    <div class="col-10 d-flex justify-content-left align-items-center">
                                        <p><strong>Ley 101</strong><br>Ley General de Desarrollo Agropecuario y Pesquero.</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12">
                            <div>
                                <div class="row normativity-item">
                                    <div class="col-2 d-flex justify-content-center align-items-center">
                                        <img class="img-fluid" src="img/icon_item_normativity.webp">
                                    </div>
                                    <div class="col-10 d-flex justify-content-center align-items-center">
                                        <p><strong>Ley 2046</strong><br>Participación de pequeños productores locales agropecuarios y de la agricultura campesina, familiar y comunitaria en los mercados de compras públicas de alimentos</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 normativity-image-container d-none d-md-block">
                <img class="nomartivity-img img-fluid" src="img/nomartivity_img.webp">
            </div>
        </div>
        </div>
    </div>
</div>