<div class="proposal-section">
    <div class="container-xxl">
        <div class="sub-title text-center">
            <h7>OPORTUNIDAD DE IMPACTO</h7>
        </div>
        <div class="row proposal-container">
            <div class="col-4 col-sm-3 image-container">
                <img class="proposal-img img-fluid" src="img/proposal_img.webp">
            </div>
            <div class="col-8 d-flex justify-content-left align-items-center">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex text-center align-items-center">
                        <h1>+92%</h1>
                    </div>
                    <div class="col-12 col-md-8 d-flex text-left align-items-center">
                        <p>de los pequeños productores <strong>dependen de intermediarios para vender sus productos,</strong>
                             lo que expone a la comunidad rural a la intervención externa en los 
                             mercados locales.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-12 col-lg-6">
                <div class="containter-item-1">
                    <div class="row proposal-item">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="img/icon_item_1.webp">
                        </div>
                        <div class="col-10 d-flex justify-content-center align-items-center">
                            <p><strong>⁠Bajos niveles de asociación y carácter individual</strong> en la producción.</p>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="containter-item-2">
                    <div class="row proposal-item">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="img/icon_item_2.webp">
                        </div>
                        <div class="col-10 d-flex justify-content-center align-items-center">
                            <p>Escaso poder de negociación en el mercado, <strong>resultando en precios desfavorables.</strong></p>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="containter-item-3">
                    <div class="row proposal-item">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="img/icon_item_3.webp">
                        </div>
                        <div class="col-10 d-flex justify-content-center align-items-center">
                            <p><strong>Pérdida de la autonomía</strong> para la venta de productos, <strong> por falta de canales de venta.</strong></p>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="containter-item-4">
                    <div class="row proposal-item">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="img/icon_item_4.webp">
                        </div>
                        <div class="col-10 d-flex justify-content-center align-items-center">
                            <p> <strong>Negociaciones desfavorables</strong> por la falta de acceso a canales de transparencia.</p>
                        </div> 
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>