<div class="proposal-section">
    <div class="container-xxl">
        <div class="row proposal-container">
            <div class="col-4 col-sm-3 image-container">
                <img class="proposal-img img-fluid" src="img/proposal_img.webp">
            </div>
            <div class="col-8 d-flex justify-content-left align-items-center">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex text-center align-items-center">
                        <h1>+92%</h1>
                    </div>
                    <div class="col-12 col-md-8 d-flex text-left align-items-center">
                        <p>De los pequeños productores dependen de intermediarios para vender sus productos,
                             lo que expone a la comunidad rural a la intervención externa en los 
                             mercados locales.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="row"></div>
    </div>
</div>