:root {
    --main-color: #272940;
    --secondary-color: #01FE87;
    --tertiary-color: #00524F;
    --Cuartiary-color: #3739535b;
    --basic-color: #FFFFFF;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    background: var(--main-color);
    font-family: 'Poppins', sans-serif;
}


/* Estilos para top-bar de anuncios */
.top-bar {
    background: var(--secondary-color);
    height: 40px;
    margin: 0px;
}

.top-bar a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
}

/* Estilos para el Navbar */
.navbar {
    background-color:var(--main-color) !important;
    border-bottom: rgba(255, 255, 255, 0.141) 2px solid;
}

.nav-link {
    color: var(--basic-color);
}

.nav-link:hover {
    color:var(--secondary-color);
    font-weight: 500;
}

.nav-item {
    margin: 0px 10px;
    font-weight: 300;
}

.btn-outline-secondary {
    --bs-btn-font-weight: 700;
    --bs-btn-color:var(--tertiary-color);
    --bs-btn-border-color:var(--secondary-color);
    --bs-btn-bg:var(--secondary-color);
    --bs-btn-hover-bg: var(--tertiary-color);
    --bs-btn-hover-color:var(--basic-color);
    --bs-btn-hover-border-color: var(--tertiary-color);
    padding:10px 20px;
    border-radius: 50px;
}

.navbar-toggler{
    --bs-navbar-toggler-border-color:var(--secondary-color);
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 137, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus{
    color: rgba(0, 255, 137, 0.5);
}

/* Estilos para Hero section*/
.hero-section {
    padding: 20px 10px;
    background-image: url(../img/background_hero_section.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.label-div {
    opacity: 0.5;
    margin: 30px 0px;
}

.label {
    margin: 50px 0px;
    padding: 5px 10px;
    border: #FFFFFF 1px solid;
    border-radius: 5px;
    color: var(--basic-color);
}

.hero-section h1 {
    margin: 70px 0px;
    font-weight: 600;
    color: var(--basic-color);
    max-width: 800px;
}

.hero-section h1 span {
    color: var(--secondary-color);
}

.hero-section p {
    opacity: 0.8;
    max-width: 600px;
    color: var(--basic-color);
}

.app-links {
    margin: 30px 0px;
}

.app-links a {
    margin: 0px 10px 0px 0px;
}

.hero-img{
    width: 500px;
    animation: backInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

/* Estilos para proposal section*/
.proposal-container {
  background-color: var(--Cuartiary-color);
  background-image: url(../img/proposal_container_background.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 200px;
}

.image-container img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.proposal-container h1 {
  color: var(--secondary-color);
  font-size: 80px;
  font-weight: 600;
}

.proposal-container p {
  color: var(--basic-color);
  font-size: 20px;
  max-width: 600px;

}

.image-container {
  position: relative;
  height: 100%;
}













/* Estilos para el footer */
.footer{
  border-top: rgba(255, 255, 255, 0.141) 2px solid;
}

.footer li{
  font-size: 14px;
}

.footer p{
  font-size: 14px;
}

.footer button{
  font-size: 14px;
}

.fa-brands {
  margin-left: 20px;
  margin-right: 20px;

}

.circle-background {
  display: inline-block;
  background-color: var(--tertiary-color); /* Cambia el color de fondo del círculo según tus necesidades */
  padding: 10px; /* Ajusta el espaciado interno del círculo según tus necesidades */
  border-radius: 50%; /* Hace que el contenedor tenga bordes redondeados para formar un círculo */
  margin-left: 20px;
  margin-right: 20px;
}

.circle-background i {
  margin: 0; /* Elimina el margen predeterminado del icono para que se ajuste completamente al círculo */
}

.circle-background:hover {
  background-color: var(--secondary-color); /* Cambia el color de fondo del círculo según tus necesidades */
}


.detail {
  border: #717171 1px solid;
  border-radius: 5px;
  width: 300px;
  padding: 5px 0px 5px 0px;
  margin: auto;
  background-color: #292929;
}

.text-body-secondary{
  color: rgb(135, 135, 135) !important;
}






/*----------------INICIO DE QUERYS*/

@media (max-width: 1200px) {
/* Estilos para proposal section*/
.proposal-section {
  padding: 20px;
}

.proposal-img {
  margin-top: -81px;
}

.proposal-container p {
  font-size: 18px;
}

.proposal-container h1 {
  font-size: 60px;
  font-weight: 600;
}
}

@media (max-width: 992px) {

.proposal-container p {
  font-size: 16px;
}

}

@media (max-width: 768px) {
    
/* Estilos para Hero section*/

.label-div {
    margin: 0px 0px;
}

.label {
    margin: 0px 0px;
}

.hero-section h1 {
    font-size: 24px;
    margin: 20px 0px;
}

.hero-section p {
    opacity: 0.8;
    max-width: 600px;
    color: var(--basic-color);
}

.app-links {
    margin: 0px 0px;
}

.hero-img{
    width: 500px;
}

}

@media (max-width: 576px) {
/* Estilos para proposal section*/
.image-container img {
  width: 100%;
}

.proposal-container {
  height: 250px;
}

.proposal-container p {
  font-size: 14px;
}

.proposal-container h1 {
  font-size: 30px;
  font-weight: 600;
}


}